:root {
  --primary: #f97b22;
  --text-color: #333;
  --secondary: #9ca777;
  --seconary--dark: #7c9070;
  --tertiary: #f2e8cf;

  --desktop-breakpoint: 600px;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--text-color);
}

header,
main {
  max-width: 1025px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
}

h1 {
  margin: 0;
}

.home-link {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  text-decoration: none;
  color: var(--primary);

  @media (min-width: 600px) {
    margin-right: 10px;
    padding: 0.75rem 0.5rem;
  }
}

.produce {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem;
  list-style: none;

  @media (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.months {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  list-style: none;
  font-size: 0.9rem;

  @media (min-width: 600px) {
    display: flex;
    max-width: none;
    margin: 0;
    font-size: 1rem;
  }
}

.months__month {
  overflow: hidden;
}

.months__link {
  display: block;
  padding: 0.5rem 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 1px solid var(--primary);

  @media (min-width: 600px) {
    padding: 0.75rem 0.5rem;
  }
}
