:root {
  --primary: #f97b22;
  --text-color: #333;
  --secondary: #9ca777;
  --tertiary: #f2e8cf;
}

html {
  background-color: var(--tertiary);
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--text-color);
  font-size: 1.2rem;
}

header,
main,
footer {
  max-width: 1025px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  grid-gap: 60px;

  a {
    border-bottom: 2px solid var(--primary);

    &:hover,
    &:focus {
      box-shadow: inset 0px -4px 0 var(--secondary);
      border-bottom: none;
    }
  }
}

.home-link {
  display: block;
  padding: 0.5rem 0.25rem;
  text-decoration: none;
  color: var(--text-color);

  @media (min-width: 800px) {
    padding: 0.2rem 0.5rem;
  }
}

.produce {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem;
  list-style: none;

  @media (min-width: 800px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.months {
  max-width: 320px;
  margin: 0 0 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  list-style: none;
  font-size: 0.9em;

  @media (min-width: 800px) {
    display: flex;
    max-width: none;
    margin: 0;
    font-size: 1em;
  }

  .months__month {
    display: flex;
    position: relative;
  }

  .months__link {
    display: block;
    padding: 0.5rem 0.25rem;
    text-decoration: none;
    color: var(--text-color);

    @media (min-width: 800px) {
      padding: 0.2rem 0.5rem;
    }
  }
}

footer {
  margin-top: 120px;
  font-size: 0.5em;

  a {
    display: inline-block;

    &:hover {
      img {
        transform: scale(1.2) rotate(-10deg);
      }
    }
  }

  img {
    display: block;
  }
}
