---
pagination:
  data: months
  size: 1
  alias: month
permalink: "/{{ month.name | slugify }}/"
layout: base
---

<h1>What's in season in {{ month.name }}?</h1>
{% include "./../produce-list/produce-list.njk" %}