<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.name }}</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/january">January</a>
    <a href="/february">February</a>
    <a href="/march">March</a>
    <a href="/april">April</a>
    <a href="/may">May</a>
    <a href="/june">June</a>
    <a href="/july">July</a>
    <a href="/august">August</a>
    <a href="/september">September</a>
    <a href="/october">October</a>
    <a href="/november">November</a>
    <a href="/december">December</a>
    {{ content | safe }}
  </body>
</html>